/* Estilos generales del sidebar fijo */

/* Toolbar */
.custom-toolbar {
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
}

/* Sidebar fijo */
.fixed-sidebar {
  position: fixed;
  top: 64px; /* Debajo del toolbar */
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto; /* Permite que las opciones se muestren verticalmente */
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.fixed-sidebar.collapsed {
  width: 60px;
}

/* Sidebar móvil */
.mobile-sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 350px;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  overflow: hidden;
}

/* Encabezado del sidebar */
.sidenav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

/* Título del sidebar */
.sidenav-title {
  margin-left: 20px;
  font-size: 1rem; /* Reducir el tamaño de la fuente */
  font-weight: bold;
}

/* Lista de menú */
.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  display: flex;
  align-items: center;
  padding: 10px 15px; /* Reducir el tamaño de los elementos */
  font-size: 0.9rem; /* Reducir el tamaño de la fuente */
  cursor: pointer;
  transition: background 0.3s;
  color: black;
}

.menu-list li:hover {
  background-color: #f5f5f5;
}

/* Íconos */
.menu-list i {
  font-size: 1.25rem; /* Reducir el tamaño de los iconos */
  margin-right: 10px; /* Reducir el margen */
  color: black;
  display: inline-block;
}

/* Ocultar texto cuando el sidebar está colapsado */
.fixed-sidebar.collapsed .menu-list span {
  display: none;
}

/* En escritorio, cuando no está colapsado, se muestra el texto */
.fixed-sidebar:not(.collapsed) .menu-list span {
  display: inline-block;
}

/* Menú móvil */
@media (max-width: 768px) {
  .mobile-sidebar.mobile-hidden {
    transform: translateX(-100%);
  }

  .mobile-sidebar.mobile-show {
    transform: translateX(0);
  }

  .mobile-sidebar .menu-list li {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    color: black;
  }

  .mobile-sidebar .menu-list li:hover {
    background-color: #f5f5f5;
  }

  .mobile-sidebar .menu-list i {
    font-size: 1.5rem;
    margin-right: 12px;
    color: black;
    display: inline-block;
  }

  .mobile-sidebar .menu-list li span {
    display: inline-block;
  }
}

/* Control de la visibilidad del menú en móvil */
@media (max-width: 768px) {
  .fixed-sidebar.mobile-hidden {
    transform: translateX(-100%);
  }

  .fixed-sidebar.mobile-show {
    transform: translateX(0);
    width: 250px;
  }

  .fixed-sidebar.mobile-show .menu-list li span {
    display: inline-block;
  }

  .fixed-sidebar.mobile-hidden .menu-list li span {
    display: none;
  }
}
.spacer {
  flex-grow: 1;
}
