<div class="breadcrumb-container">
  <p-breadcrumb class="breadcrumb-custom" [model]="items">
    <ng-template pTemplate="item" let-item>
      <ng-container *ngIf="item.route; else elseBlock">
        <a [routerLink]="item.route" class="breadcrumb-link">
          <span *ngIf="item.icon" [ngClass]="item.icon" class="breadcrumb-icon"></span>
          <span class="breadcrumb-label">{{ item.label }}</span>
        </a>
      </ng-container>
      <ng-template #elseBlock>
        <a [href]="item.url" class="breadcrumb-link">
          <span class="breadcrumb-label">{{ item.label }}</span>
        </a>
      </ng-template>
    </ng-template>
  </p-breadcrumb>
</div>
