<div class="hero-slider-section">
  <button class="btn-prev" (click)="prevSlide()">&#10094;</button>

  <div *ngFor="let banner of banners; let i = index" class="hero-single-slider-item"
    [ngClass]="{ 'active': i === currentIndex }">

    <div class="hero-slider-bg">
      <ng-container *ngIf="isVideo(banner.imagen); else imagenBanner">
        <video [src]="banner.imagen" autoplay muted loop playsinline class="video-banner"></video>
      </ng-container>
      <ng-template #imagenBanner>
        <img [src]="banner.imagen" alt="Imagen de Slider">
      </ng-template>
    </div>


    <div class="hero-slider-wrapper">
<div class="hero-slider-content" *ngIf="!isVideo(banner.imagen)">
  <h4 class="subtitle">{{ banner.descripcion }}</h4>
  <h2 class="title">{{ banner.titulo }}</h2>
</div>

    </div>

  </div>

  <button class="btn-next" (click)="nextSlide()">&#10095;</button>
</div>


<div class="service-promo-section">
  <div class="row">
    <div class="service-promo-single-item" #serviceItem>
      <div class="icon">
        <i class="pi pi-truck"></i>
      </div>
      <div class="content">
        <h6 class="title">ENVÍO GRATIS</h6>
        <p>¡Obtén un 10% de reembolso en efectivo, envío gratis, devoluciones gratis y más en más de 1000 minoristas
          líderes!</p>
      </div>
    </div>

    <div class="service-promo-single-item" #serviceItem>
      <div class="icon">
        <i class="pi pi-money-bill"></i>
      </div>
      <div class="content">
        <h6 class="title">30 DÍAS DE DEVOLUCIÓN DE DINERO</h6>
        <p>¡Satisfacción 100% garantizada o recupera tu dinero en 30 días!</p>
      </div>
    </div>

    <div class="service-promo-single-item" #serviceItem>
      <div class="icon">
        <i class="pi pi-shield"></i>
      </div>
      <div class="content">
        <h6 class="title">PAGO SEGURO</h6>
        <p>Pague con los métodos de pago más populares y seguros del mundo.</p>
      </div>
    </div>

    <div class="service-promo-single-item" #serviceItem>
      <div class="icon">
        <i class="pi pi-id-card"></i>
      </div>
      <div class="content">
        <h6 class="title">CLIENTE FIDELIZADO</h6>
        <p>Tarjeta para el 30% restante de sus compras a razón de 1% de reembolso en efectivo.</p>
      </div>
    </div>
  </div>
</div>

<!-- Carrusel de productos recientes 
<div class="productos-religiosos-section">
  <h2 class="titulo-seccion">RECIÉN LLEGADOS</h2>
  <div class="card">
    <p-carousel [value]="variantesComoTarjetas" [numVisible]="4" [numScroll]="1" [circular]="true"
      [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">

      <ng-template let-producto pTemplate="item">
        <div class="product-card">
          <div class="image-container">
            <img [src]="producto.imagenes[0]" [alt]="producto.nombre" class="product-image">
          </div>

          <div class="product-name">{{ producto.nombre }} </div>

          <div class="price-section">
            <div class="price">{{ producto.precio_venta | currency }}</div>
            <div class="action-buttons">
              <p-button icon="pi pi-search" severity="secondary" [outlined]="true"
                [routerLink]="['/detalle', producto.id, producto.varianteId]"></p-button>
              <p-button icon="pi pi-shopping-cart" severity="secondary" [outlined]="true"
                (onClick)="agregarAlCarrito(producto.id, producto.varianteId)"></p-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
-->
<div *ngIf="recomendacionesDetalles.length > 0" class="productos-recomendados-section">
  <h2 class="titulo-seccion">También te puede interesar</h2>

  <div class="card">
    <p-carousel [value]="recomendacionesDetalles" [numVisible]="4" [numScroll]="1" [circular]="true"
      [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">

      <ng-template let-prod pTemplate="item">
        <div class="product-card">
          <div class="image-container">
            <img *ngIf="prod.variantes?.length === 0" [src]="prod.imagenes_producto?.[0]" [alt]="prod.nombre"
              class="product-image" />
            <img *ngIf="prod.variantes?.length > 0" [src]="prod.variantes[0]?.imagenes_variante?.[0]"
              [alt]="prod.nombre" class="product-image" />
          </div>

          <div class="product-name">{{ prod.nombre }}</div>

          <div class="price-section">
            <div class="price">
              {{
              prod.variantes?.length > 0
              ? (prod.variantes[0].precio_venta | currency:'MXN')
              : (prod.precio_venta | currency:'MXN')
              }}
            </div>

            <div class="action-buttons">
              <p-button icon="pi pi-search" severity="secondary" [outlined]="true" [routerLink]="
                  prod.variantes?.length > 0
                    ? ['/detalle', prod.id, prod.variantes[0].id]
                    : ['/detalle', prod.id]
                ">
              </p-button>

              <p-button icon="pi pi-shopping-cart" severity="secondary" [outlined]="true">
              </p-button>
            </div>
          </div>
        </div>
      </ng-template>

    </p-carousel>
  </div>
</div>



<section class="seccion-categorias">
  <h2 class="titulo-seccion" id="categorias">Explora nuestras categorías</h2>

  <div class="categorias-container">
    <a *ngFor="let categoria of categorias" [routerLink]="['/products', categoria.nombre_categoria]" class="categoria"
      [style.backgroundImage]="
        'url(' + (categoria.imagen_url ? categoria.imagen_url : 'assets/img/logosinfondo.png') + ')'
      ">
      <div class="categoria-header">
        <h2>{{ categoria.nombre_categoria | uppercase }}</h2>
        <div class="arrow">→</div>
      </div>
    </a>
  </div>
</section>



<section class="seccion-historia">
  <h2 class="titulo-seccion">Nuestra Historia</h2>

  <div class="nuestra-historia-container">
    <div class="historia-sidebar">
      <h3>Desde el corazón de la fé</h3>
      <p>
        Desde nuestros inicios, en la Librería Cristo Rey hemos trabajado con pasión y compromiso para brindar artículos
        religiosos de calidad a cada familia y comunidad.
      </p>
      <p>
        Nuestra misión es evangelizar a través de cada libro, imagen, vela o estampa que llega a tus manos. Gracias por
        ser parte de esta historia que continúa creciendo contigo.
      </p>
    </div>
    <div class="historia-imagen-full">
      <img src="assets/img/libreriafoto.jpg" alt="Nuestra Historia" />
    </div>
  </div>
</section>




<div class="faq-container">
  <h2 class="titulo-seccion">Preguntas Frecuentes</h2>

  <p-accordion [multiple]="true" class="faq-accordion">
    <p-accordionTab *ngFor="let pregunta of preguntas" [header]="pregunta.pregunta">
      <p class="faq-answer">{{ pregunta.respuesta }}</p>
    </p-accordionTab>
  </p-accordion>
</div>