<div class="about-us-container">
    <h1>Sobre Nosotros</h1>
    <section class="mission">
      <h2>Misión</h2>
      <p>
        CONTRIBUIR en el plan Diocesano PROPORCIONANDO herramientas 
        para la educación de la fe y BRINDAR recursos para una Celebración
        Litúrgica digna en cada comunidad Cristiana.
      </p>
    </section>
  
    <section class="vision">
      <h2>Visión</h2>
      <p>
        otata Jesús es una librería y artículos religiosos cuya misión es consolidar
         la fe católica en sinodalidad GARANTIZANDO las necesidades múltiples de cada 
         comunidad Cristiana.  Facilitaremos un espíritu de servicialidad y fraternidad Evangélica
      </p>
    </section>
  
    <section class="values">
      <h2>Valores</h2>
      <ul>
        <li>Fe</li>
        <li>Servicio</li>
        <li>Alegría</li>
        <li>Fraternidad</li>
        <li>Compromiso</li>
        <li>Sencillez</li>
        <li>Humildad</li>
      </ul>
    </section>
  </div>
  