<link rel="stylesheet" href="https://unpkg.com/primeicons/primeicons.css">


<div class="contenedor">
  <div class="lib" [class.fade-in]="isVisibleNombre">{{ empresaData?.nombre }}</div>
  <div class="contenedor-slogan" [class.fade-in]="!isVisibleNombre">
    <div class="slogan">{{ empresaData?.slogan }}</div>
  </div>
</div>


<header class="main-header">
  <div class="header-container">
    <!-- Logo -->
    <div class="logo-container">
      <img routerLink="/" [src]="empresaData?.logo" alt="Logo de la Empresa" class="logo" *ngIf="empresaData?.logo; else noLogo" />
      <ng-template #noLogo>
        <img routerLink="/" src="../../assets/img/Libreria_Logo.jpg" alt="Logo por defecto" class="logo" />
      </ng-template>
    </div>

    <!-- Menú de navegación -->
    <nav class="nav-links">
      <ul>
        <li><a routerLink="/">HOME</a></li>

        <!-- Mega Menú -->
        <li class="mega-menu-container">
          <a>CATEGORÍAS <i class="pi pi-chevron-down"></i></a>
          <div class="mega-menu">
            <div class="mega-menu-column">
              <a routerLink="/products">Libros</a>
              <a routerLink="/products">Biblia</a>
              <a routerLink="/products"> Litúrgico</a>
            </div>
            <div class="mega-menu-column">
              <a routerLink="/products">Imágenes de Culto</a>
              <a routerLink="/products">Cuadros</a>
              <a routerLink="/products"> Estampas</a>
            </div>
            <div class="mega-menu-column">
              <a routerLink="/products">Accesorios</a>
              <a routerLink="/products">Catecismos</a>
              <a routerLink="/products">Resina</a>
            </div>
            <div class="mega-menu-column">
              <a routerLink="/products">Velas y Cirios</a>
            </div>
          </div>
        </li>

        <li><a routerLink="/about">SOBRE NOSOTROS</a></li>
        <li><a routerLink="/contact">CONTACTO</a></li>
      </ul>
    </nav>

    <!-- Iconos de usuario -->
    <div class="icons">
      <a routerLink="/login"><i class="pi pi-sign-in"></i></a>/
      <a routerLink="/registro"><i class="pi pi-user-plus"></i></a>
      <a routerLink="/carshop"><i class="pi pi-heart"></i></a>
      <a routerLink="/carshop"><i class="pi pi-shopping-cart"></i></a>
      <a (click)="openSearch()"><i class="pi pi-search"></i></a>

      <i class="pi pi-bars menu-icon" (click)="toggleMenu()"></i>
    </div>
  </div>



  <!-- Menú desplegable móvil -->
  <div *ngIf="isMenuOpen" id="mobile-menu" class="mobile-menu">
    <ul>
      <li><a routerLink="/" (click)="closeMenu()">HOME</a></li>
      <li class="mobile-menu-categorias">
        <a (click)="toggleMegaMenu($event)">CATEGORÍAS</a>
        <ul *ngIf="isMegaMenuOpen">
          <li><a routerLink="/products" (click)="closeMenu()">Libros</a></li>
          <li><a routerLink="/products" (click)="closeMenu()">Biblia</a></li>
          <li><a routerLink="/products" (click)="closeMenu()">Litúrgico</a></li>
          <li><a routerLink="/products" (click)="closeMenu()">Imágenes de Culto</a></li>
          <li><a routerLink="/products" (click)="closeMenu()">Cuadros</a></li>
          <li><a routerLink="/products" (click)="closeMenu()">Estampas</a></li>
          <li><a routerLink="/products" (click)="closeMenu()">Accesorios</a></li>
          <li><a routerLink="/products" (click)="closeMenu()">Catecismos</a></li>
          <li><a routerLink="/products" (click)="closeMenu()">Resina</a></li>
          <li><a routerLink="/products" (click)="closeMenu()">Velas y Cirios</a></li>
        </ul>
      </li>
      <li><a routerLink="/about" (click)="closeMenu()">SOBRE NOSOTROS</a></li>
      <li><a routerLink="/contact" (click)="closeMenu()">CONTACTO</a></li>      
    </ul>
  </div>
<!-- Panel de búsqueda deslizable -->
<div *ngIf="isSearchOpen" class="search-overlay">
  <i class="pi pi-times close-search" (click)="toggleSearch()"></i>
  <div class="search-container">
    <input
      type="text"
      placeholder="Buscar productos..."
      [(ngModel)]="searchQuery"
      class="search-input"
    />
    <button class="clear-btn" *ngIf="searchQuery" (click)="searchQuery = ''">
      <i class="pi pi-times"></i>
    </button>
    <button class="search-btn">
      <i class="pi pi-search"></i>
    </button>
    
  </div>
</div>

</header>
