<link rel="stylesheet" href="https://unpkg.com/primeicons/primeicons.css">
<div class="lib">{{ empresaData?.nombre }}</div>
<header>
  <div class="main-header">
    <!-- Enlaces de la izquierda (ocultos en móviles) -->
    <div class="nav-links">
    
      <ul>
        <li class="menu-item">
          <a title="Proximamente" >PRODUCTOS</a>
          <!-- Mega menú -->
          <div class="mega-menu">
            <div class="mega-column">
  
              <a class="mas" routerLink="/products">Libros</a>
            </div>
            <div class="mega-column">
     
              <a routerLink="/products">Biblias</a>
            </div>
            <div class="mega-column">
              <a routerLink="/products">Litúrgicos
              </a>
            </div>
            <div class="mega-column">
      
              <a routerLink="/products">Imágenes de culto</a>
            </div>
            <div class="mega-column">

              <a routerLink="/products">Cuadros</a>
            </div>
            <div class="mega-column">
 
              <a routerLink="/products">Estampas</a>
            </div>
            <div class="mega-column">

              <a routerLink="/products">Accesorios</a>
            </div>
            <div class="mega-column">
   
              <a routerLink="/products">Catecismos</a>
            </div>
            <div class="mega-column">

              <a routerLink="/products">Productos de recina</a>
            </div>
            <div class="mega-column">

              <a routerLink="/products">Velas y cirios</a>
            </div>
          </div>
        </li>
        <li><a title="Proximamente" routerLink="/about">NOSOTROS</a></li>
        <li><a title="Proximamente" routerLink="/newsandevents">NOTICIAS Y EVENTOS</a></li>
      </ul>
      
    </div>

    <!-- Logo centrado -->
    <div class="logo-container">
      <img routerLink="/" [src]="empresaData?.logo" alt="Logo de la Empresa" width="80" height="80" *ngIf="empresaData?.logo; else noLogo" />
      <ng-template #noLogo>
        <img src="../../assets/img/Libreria_Logo.jpg" alt="Logo por defecto" width="80" height="80" />
      </ng-template>
    </div>

    <!-- Iconos de la derecha y botón del menú en móvil -->
    <div class="right-icons">
      <a routerLink="/" class="login-link"><i class="pi pi-home"></i></a>
      <a routerLink="/login" class="login-link"><i class="pi pi-sign-in"></i></a>
      <a routerLink="/" class="car-link"><i class="pi pi-shopping-cart"></i></a>
      <i class="pi pi-bars menu-icon" (click)="toggleMenu()"></i>
    </div>
  </div>

  <!-- Slogan -->
  <div class="contenedor-slogan">
    <div class="slogan">{{ empresaData?.slogan }}</div>
  </div>

  <!-- Menú desplegable para móvil -->
  <div *ngIf="isMenuOpen" id="mobile-menu" class="mobile-menu">
    <ul>
      <li><a routerLink="/products" (click)="closeMenu()">PRODUCTOS</a></li>
      <li><a routerLink="/about" (click)="closeMenu()">NOSOTROS</a></li>
      <li><a routerLink="/newsandevents" (click)="closeMenu()">NOTICIAS Y EVENTOS</a></li>
    </ul>
  </div>

</header>
