<div class="politicas-container">
    <h2>Gestión de Políticas</h2>
    <div class="contenedor-boton">
      <button class="btn" (click)="mostrarFormulario = !mostrarFormulario"> Agregar
        {{ mostrarFormulario ? 'Cancelar' : 'Agregar +' }}
      </button> 
    </div>
  
    <form *ngIf="mostrarFormulario"  (ngSubmit)="isEditing ? actualizarDocumento() : crearDocumento()">
      <div class="form-group">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" [(ngModel)]="documento.titulo" name="titulo" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="contenido">Contenido:</label>
        <textarea id="contenido" [(ngModel)]="documento.contenido" name="contenido" class="form-control" rows="10" required></textarea>
      </div>
      <div class="form-group">
        <label for="fechaVigencia">Fecha de Vigencia:</label>
        <input type="date" id="fechaVigencia" [(ngModel)]="documento.fechaVigencia" name="fechaVigencia" class="form-control" required />
      </div>
      <button type="submit" class="btn">{{ isEditing ? 'Actualizar' : 'Crear' }} Documento</button>
    </form>
  
    <h3 class="titulo" >Documento Vigente</h3>
    <div *ngIf="documentoVigente">
      <p class="titulo"><strong>Título:</strong> {{ documentoVigente.titulo }}</p>
      <div>
        <strong class="titulo">Contenido:</strong> 
        <div [innerHTML]="documentoVigente.contenido | newlineToHtml"></div>
      </div>
      <p><strong>Fecha de Vigencia:</strong> {{ documentoVigente.fechaVigencia | date }}</p>
    </div>
    <div *ngIf="!documentoVigente">
      <p>No hay documento vigente.</p>
    </div>
    
    
  <div class="contenedor-boton">
    <button class="btn" (click)="toggleHistorial()">{{ mostrarHistorial ? 'Ocultar Historial' : 'Mostrar Historial' }}</button>
  </div>
  </div>

  <div class="contenedor-tabla">
    <table>
      <thead>
        <tr>
          <th>Título</th>
          <th>Contenido</th>
          <th>Fecha de Vigencia</th>
          <th>Vigente</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let documento of documentos">
          <td data-label="Título">{{ documento.titulo }}</td>
          <td data-label="Contenido">
            <span class="contenido-corto">{{ documento.contenido | slice: 0:50 }}...</span>
            <button (click)="verContenidoCompleto(documento.contenido)" class="btn btn-small">Ver más</button>
          </td>
          <td data-label="Fecha de Vigencia">{{ documento.fechaVigencia | date }}</td>
          <td data-label="Vigente">{{ documento.vigente ? 'Sí' : 'No' }}</td>
          <td data-label="Acciones">
            <button class="btn btn-small" (click)="editarDocumento(documento)">Editar</button>
            <button class="btn btn-small" (click)="eliminarDocumento(documento._id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
