


<div class="container">


  <div class="dashboard-container">
    <h1 class="dashboard-title">Panel de Administración</h1>
  
    <div class="dashboard-grid">
      <a routerLink="/admproduts" class="dashboard-card">
        <i class="pi pi-exclamation-circle"></i>
        <span>Productos</span>
      </a>

      <a routerLink="/categorias" class="dashboard-card">
        <i class="pi pi-exclamation-circle"></i>
        <span>Categorias</span>
      </a>

      <a routerLink="/banners" class="dashboard-card">
        <i class="pi pi-exclamation-circle"></i>
        <span>Banners</span>
      </a>

      <a routerLink="/ventas" class="dashboard-card">
        <i class="pi pi-exclamation-circle"></i>
        <span>Ventas</span>
      </a>
      <a routerLink="/incidencias" class="dashboard-card">
        <i class="pi pi-exclamation-circle"></i>
        <span>Incidencias</span>
      </a>
  
      <a routerLink="/politicas" class="dashboard-card">
        <i class="pi pi-file"></i>
        <span>Políticas</span>
      </a>
  
      <a routerLink="/terminos" class="dashboard-card">
        <i class="pi pi-book"></i>
        <span>Términos</span>
      </a>
  
      <a routerLink="/deslinde" class="dashboard-card">
        <i class="pi pi-shield"></i>
        <span>Deslinde Legal</span>
      </a>
  
      <a routerLink="/pempresa" class="dashboard-card">
        <i class="pi pi-building"></i>
        <span>Perfil Empresa</span>
      </a>
  
      <a routerLink="/usuarios" class="dashboard-card">
        <i class="pi pi-users"></i>
        <span>Usuarios</span>
      </a>
  
      <a routerLink="/configuracion" class="dashboard-card">
        <i class="pi pi-cog"></i>
        <span>Configuración</span>
      </a>
  
      <a class="dashboard-card logout">
        <i class="pi pi-sign-out"></i>
        <span>Cerrar Sesión</span>
      </a>
    </div>
  </div>



