<!-- Spinner -->
<div class="loading-container" *ngIf="loading">
  <mat-spinner diameter="60"></mat-spinner>
  <p>Cargando información de contacto...</p>
</div>

<div class="contact-container" *ngIf="!loading">
  <!-- Mapa de la librería -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7442.568161150652!2d-98.42083866358557!3d21.14109004118161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d726eb5d1d46d3%3A0xba50c82de105ab7e!2sPl.%20de%20la%20Revoluci%C3%B3n%20Mexicana%201%2C%20Centro%2C%2043000%20Huejutla%20de%20Reyes%2C%20Hgo.!5e0!3m2!1ses!2smx!4v1738813309168!5m2!1ses!2smx" 
      width="600"
      height="450"
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>

<!-- Botón para abrir Google Maps con ubicación del usuario -->
<div *ngIf="userPosition" class="ruta-btn-container">
  <button mat-raised-button color="primary" class="ruta-btn" (click)="openInGoogleMaps()">
    <mat-icon>directions</mat-icon>
    Ver ruta desde mi ubicación
  </button>
</div>



  <!-- Información de contacto -->
  <div class="content-wrapper">
    <div class="info-container">
      <h2>Información de Contacto</h2>

      <p>
        <mat-icon class="info-icon">location_on</mat-icon>
        <strong>Dirección:</strong> {{ empresaData?.direccion || 'No disponible' }}
      </p>

      <p>
        <mat-icon class="info-icon">phone</mat-icon>
        <strong>Teléfono:</strong> {{ empresaData?.telefono || 'No disponible' }}
      </p>

      <p>
        <mat-icon class="info-icon">mail</mat-icon>
        <strong>Correo:</strong> {{ empresaData?.correo_electronico || 'No disponible' }}
      </p>

      <h3>Síguenos en redes sociales</h3>
      <div class="social-icons">
        <a *ngIf="empresaData?.facebook" [href]="empresaData?.facebook" target="_blank" class="social-btn facebook">
          <mat-icon>facebook</mat-icon>
          Facebook
        </a>
        <a *ngIf="empresaData?.twitter" [href]="empresaData?.twitter" target="_blank" class="social-btn twitter">
          <mat-icon>alternate_email</mat-icon>
          Twitter
        </a>
        <a *ngIf="empresaData?.instagram" [href]="empresaData?.instagram" target="_blank" class="social-btn instagram">
          <mat-icon>photo_camera</mat-icon>
          Instagram
        </a>
      </div>
    </div>
  </div>
</div>
