<div class="detalle-container">
    <div class="detalle-producto">
      <!-- Imagen del producto a la izquierda -->
      <div class="detalle-imagen">
        <img src="../../assets/img/rosario.jpg" alt="Nombre del Producto" />
      </div>
      
      <!-- Información del producto a la derecha -->
      <div class="detalle-info">
        <h1 class="detalle-nombre">Nombre del Producto</h1>
        <p class="detalle-precio">Precio: $299.99</p>
        <p class="detalle-descripcion">
          Descripción: Este es un producto increíble que destaca por su alta calidad y diseño elegante. Ideal para todas tus necesidades diarias.
        </p>
        <p class="detalle-vendidos">1,200 vendidos</p>
  
        <!-- Botón para añadir al carrito -->
        <button class="detalle-carrito-btn">Agregar al carrito <i class="pi pi-shopping-cart"></i></button>
      </div>
    </div>
  </div>
  