<div class="detalle-container">
  <div class="detalle-producto">
      <!-- Imagen del producto a la izquierda -->
      <div class="detalle-imagen">
          <img src="../../assets/img/rosario.jpg" alt="Nombre del Producto" />
      </div>
      
      <!-- Información del producto a la derecha -->
      <div class="detalle-info">
          <h1 class="detalle-nombre">Rosario de madera</h1>
          <p class="detalle-precio">Precio: $299.99</p>
          <p class="detalle-descripcion">
              Descripción: Rosaro de madera, deal para altares o decoración. Disponible en varios tamaños. Un símbolo de fe y devoción.
          </p>
          <p class="detalle-vendidos">1,200 vendidos</p>

          <!-- Botón para añadir al carrito -->
          <button class="detalle-carrito-btn">Agregar al carrito <i class="pi pi-shopping-cart"></i></button>
          
          <!-- Código QR para ver el modelo en realidad aumentada -->
          <div class="detalle-codigo-qr">
              <p>Escanea para ver el modelo en realidad aumentada:</p>
              <img src="../../assets/img/qr.jpg" alt="Código QR para realidad aumentada" />
          </div>
      </div>
  </div>
</div>
