<div class="containerlista">


      <!-- Mostrar el producto seleccionado en primer plano -->
  <div *ngIf="productoSeleccionado" class="card-container">

    <div class="product-card">
        <h2>Resultado</h2>
      <div class="product-image-container" (click)="cambiarImagen(productoSeleccionado)">
        <img *ngIf="productoSeleccionado.imagenes.length > 0" 
             [src]="productoSeleccionado.imagenes[0]" 
             alt="{{ productoSeleccionado.nombre }}" 
             class="product-image">
      </div>

      <div *ngIf="productoSeleccionado.imagenes.length > 1" class="product-gallery">
        <div *ngFor="let imagen of productoSeleccionado.imagenes; let i = index" 
             class="product-gallery-item">
          <img *ngIf="i !== 0" [src]="imagen" alt="Imagen {{ i + 1 }}" 
               class="gallery-image" (click)="cambiarImagenProducto(productoSeleccionado, i)">
        </div>
      </div>

      <div class="product-info">
        <h3>{{ productoSeleccionado.nombre }}</h3>
        <p><strong>Precio:</strong> {{ productoSeleccionado.precio_calculado | currency }}</p>
      </div>

      <div class="product-actions">
        <button pButton pIcon="pi pi-search" class="btn-view-detail" [routerLink]="['/detalle', productoSeleccionado.id]">ver detalle <i class="pi pi-arrow-up-right"></i></button>
        <button class="btn-add-to-cart" (click)="agregarAlCarrito(productoSeleccionado)">
          <i class="pi pi-shopping-cart"></i> Agregar al carrito
        </button>
      </div>
    </div>
  </div>

  <h2>{{categoriaNombre}}</h2>
  
    <!-- Contenedor para las tarjetas -->
    <div class="card-container" *ngIf="productos.length > 0">
      <div class="product-card" *ngFor="let producto of productos">
        <!-- Imagen principal -->
        <div class="product-image-container" (click)="cambiarImagen(producto)">
          <img *ngIf="producto.imagenes.length > 0" [src]="producto.imagenes[0]" alt="{{ producto.nombre }}" class="product-image">
        </div>
  <!-- Galería de imágenes adicionales -->
  <div *ngIf="producto.imagenes.length > 1" class="product-gallery">
    <div *ngFor="let imagen of producto.imagenes; let i = index" class="product-gallery-item">
      <img *ngIf="i !== 0" [src]="imagen" alt="Imagen {{ i + 1 }}" class="gallery-image" (click)="cambiarImagenProducto(producto, i)">
    </div>
  </div>
        <!-- Nombre del producto -->
        <div class="product-info">
          <h3>{{ producto.nombre }}</h3>
          <p><strong>Precio:</strong> {{ producto.precio_calculado | currency }}</p>
        </div>
  
        
  
        <!-- Botones: Agregar al carrito y Ver detalle -->
        <div class="product-actions">
            <button pButton pIcon="pi pi-search" class="btn-view-detail" [routerLink]="['/detalle', producto.id]">ver detalle <i class="pi pi-arrow-up-right"></i></button>
  
            <button class="btn-add-to-cart" (click)="agregarAlCarrito(producto)"><i class="pi pi-shopping-cart"></i></button>
        </div>
      </div>
    </div>
  
    <!-- Si no hay productos, mostrar un mensaje -->
    <div *ngIf="productos.length === 0">
      <p>No hay productos disponibles en esta categoría.</p>
    </div>
  </div>
  