<div class="politicas-container">
  <h2>Gestión de Terminos y condiciones</h2>
  <div class="contenedor-boton">
    <button 
      class="btn" 
      (click)="onCancelar()">
      {{ mostrarFormulario ? 'Cancelar' : 'Agregar +' }}
    </button>
  </div>
  

  <form *ngIf="mostrarFormulario"  (ngSubmit)="isEditing ? actualizarDocumento() : crearDocumento()">
    <div class="form-group">
      <label for="titulo">Título:</label>
      <input type="text" id="titulo" [(ngModel)]="documento.titulo" name="titulo" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="contenido">Contenido:</label>
      <textarea id="contenido" [(ngModel)]="documento.contenido" name="contenido" class="form-control" rows="10" required></textarea>
    </div>
    <div class="form-group">
      <label for="fechaVigencia">Fecha de Vigencia:</label>
      <input type="date" id="fechaVigencia" [(ngModel)]="documento.fechaVigencia" name="fechaVigencia" class="form-control" required />
    </div>
    <button type="submit" class="btn">{{ isEditing ? 'Actualizar' : 'Crear' }} Documento</button>
  </form>

  <h3 class="titulo" >Documento Vigente</h3>
  <div *ngIf="documentoVigente">
    <p class="titulo"><strong>Título:</strong> {{ documentoVigente.titulo }}</p>
    <div>
      <strong class="titulo">Contenido:</strong> 
      <div [innerHTML]="documentoVigente.contenido | newlineToHtml"></div>
    </div>
    <p><strong>Fecha de Vigencia:</strong> {{ documentoVigente.fechaVigencia | date }}</p>
  </div>
  <div *ngIf="!documentoVigente">
    <p>No hay documento vigente.</p>
  </div>
  
  
<div class="contenedor-boton">
  <button class="btn" (click)="toggleHistorial()">{{ mostrarHistorial ? 'Ocultar Historial' : 'Mostrar Historial' }}</button>
</div>
</div>

<div class="table-container">
  <div *ngIf="mostrarHistorial">
      <table>
        <thead>
          <tr>
            <th>Título</th>
            <th>Contenido</th>
            <th>Fecha de Vigencia</th>
            <th>Vigente</th>
            <th>Versión</th>
            <th>Eliminado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let documento of documentos">
            <td data-label="Título">{{ documento.titulo }}</td>
            <td data-label="Contenido">
              <span class="contenido-corto">{{ documento.contenido | slice: 0:50 }}...</span>
              <button (click)="verContenidoCompleto(documento.contenido)" class="btn-small">Ver más</button>
            </td>
            <td data-label="Fecha de Vigencia">{{ documento.fechaVigencia | date }}</td>
            <td data-label="Vigente">{{ documento.vigente ? 'Vigente' : 'No' }}</td>
            <td data-label="Version">{{ documento.version}}</td>
            <td data-label="Eliminado">{{ documento.eliminado ? 'Sí' : 'No' }}</td>
            <td data-label="Acciones">
              <button class="btn-edit" (click)="editarDocumento(documento)"><i class="pi pi-pencil"></i></button>
              <button class="btn-edit" (click)="eliminarDocumento(documento._id)"><i class="pi pi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

