<link rel="stylesheet" href="https://unpkg.com/primeicons/primeicons.css">

<div class="top-banner">
  <div class="lib fade-in" *ngIf="mostrarNombre">{{ empresaData?.nombre }}</div>
  <div class="slogan fade-in" *ngIf="!mostrarNombre">{{ empresaData?.slogan }}</div>
</div>

<header class="main-header">
  <div class="header-wrapper">
    <!-- Logo -->
    <div class="logo-area">
      <a routerLink="/">
        <img [src]="empresaData?.logo_url || '../../assets/img/Libreria_Logo.jpg'" alt="Logo" class="logo" />
      </a>
    </div>

    <!-- Buscador fijo al centro -->
    <div class="search-area">
      <div class="search-input-wrapper">
        <input type="text" [(ngModel)]="searchQuery" (input)="buscarProductos(searchQuery)" class="search-input" />

        <!-- 🔄 Placeholder animado sobre el input -->
        <div class="placeholder-container" *ngIf="!searchQuery" [@listAnimation]>
          <div *ngFor="let ph of placeholders; let i = index" class="animated-placeholder"
            [class.visible]="i === placeholderIndex">
            {{ ph }}
          </div>
        </div>




        <i class="pi pi-search search-icon"></i>
      </div>

      <div class="search-results" *ngIf="productos.length > 0">
        <ul>
          <li *ngFor="let producto of productos">
            <a [routerLink]="['/products', producto.nombre_categoria]" [queryParams]="{ selected: producto.id }"
              (click)="closeSearch()">
              {{ producto.nombre }}
            </a>
          </li>
        </ul>
      </div>
    </div>


    <!-- Icons & Mega Menu -->
    <div class="actions-area">
      <nav class="nav-links">
        <ul>
          <li><a routerLink="/">HOME</a></li>
          <li class="mega-menu-container">
            <a>CATEGORÍAS <i class="pi pi-angle-down"></i></a>
            <div class="mega-menu">
              <div class="mega-menu-column" *ngFor="let categoria of categorias">
                <a [routerLink]="['/products', categoria.nombre_categoria]">{{ categoria.nombre_categoria }}</a>
              </div>
            </div>
          </li>
          <li><a routerLink="/about">SOBRE NOSOTROS</a></li>
          <li><a routerLink="/newsandevents">NOTICIAS</a></li>
          <li><a routerLink="/contact">CONTACTO</a></li>
        </ul>
      </nav>

      <div class="icons">
        <a class="icon-hide-mobile" routerLink="/perfil"><i class="pi pi-user"></i></a>

        <a routerLink="/carshop" title="Carrito">
          <i class="pi pi-shopping-cart custom-badge" pBadge value="{{cantidadCarrito}}"></i>
        </a>
        <!-- 👤 Iniciar sesión: Visible siempre -->
        <a class="icon-hide-mobile" (click)="onLogout()"><i class="pi pi-sign-out"></i></a>



        <!-- 🍔 Menú móvil -->
        <i class="pi pi-bars mobile-menu-icon" (click)="toggleMenu()"></i>
      </div>


    </div>
  </div>


  <!-- Menú Móvil -->
  <div class="mobile-menu" *ngIf="isMenuOpen">
    <button class="close-btn" (click)="closeMenu()">&times;</button>
    <ul>
      <li><a routerLink="/" (click)="closeMenu()">HOME</a></li>

      <li (click)="toggleMegaMenu($event)" class="mobile-categorias">
        CATEGORÍAS <i class="pi pi-angle-down"></i>
        <ul *ngIf="isMegaMenuOpen">
          <li *ngFor="let c of categorias">
            <a [routerLink]="['/products', c.nombre_categoria]" (click)="closeMenu()">
              {{ c.nombre_categoria }}
            </a>
          </li>
        </ul>
      </li>

      <li><a routerLink="/about" (click)="closeMenu()">SOBRE NOSOTROS</a></li>
      <li><a routerLink="/newsandevents" (click)="closeMenu()">NOTICIAS</a></li>
      <li><a routerLink="/contact" (click)="closeMenu()">CONTACTO</a></li>
      <li><a routerLink="/perfil" title="perfil" (click)="closeMenu()">PERFIL <i class="pi pi pi-user"></i></a></li>
      <li><a (click)="onLogout()">CERRAR SESION
          <i class="pi pi-sign-out"></i></a></li>




    </ul>
  </div>


</header>