
<!-- Este es un título que muestra el valor de la variable 'title' -->
<!-- <h1>Hola {{ title }}</h1> -->

<!-- Botón que llama al método 'changeTitle()' al hacer clic -->
<!-- <button (click)="changeTitle()">Cambiar</button> -->

<!-- Componente 'app-product' que muestra información de cada 'product' en 'products' -->
<!-- <app-product [product]="product" *ngFor="let product of products"></app-product> -->
<!-- src/app/app.component.html -->

<ng-container *ngIf="tipoUsuario === 'admin'; else clienteHeader">
  <app-headera></app-headera>
</ng-container>
<ng-template #clienteHeader>
  <ng-container *ngIf="tipoUsuario === 'Cliente'; else normalHeader">
    <app-headeru></app-headeru>
  </ng-container>
</ng-template>
<ng-template #normalHeader>
  <app-header-normal></app-header-normal> <!-- Encabezado normal para usuarios no autenticados -->
</ng-template>

<router-outlet></router-outlet>


<!-- Footer simple -->
<footer class="footer">
  <div class="footer-container">
      <div class="footer-info">
          <p>&copy; 2024 Libreria Cristo Rey. Todos los derechos reservados.</p>
          <p><a href="/politicadeprivacidad">Política de Privacidad</a> | <a href="/deslindelegal">Deslinde Legal | <a href="/terminosycondiciones">Terminos y condiciones</a></a></p>
      </div>
      <div class="footer-social">
          <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
          <a href="https://rss.com" target="_blank"><i class="fas fa-rss"></i></a>
      </div>
  </div>
</footer>
