

<!-- Este es un título que muestra el valor de la variable 'title' -->
<!-- <h1>Hola {{ title }}</h1> -->

<!-- Botón que llama al método 'changeTitle()' al hacer clic -->
<!-- <button (click)="changeTitle()">Cambiar</button> -->

<!-- Componente 'app-product' que muestra información de cada 'product' en 'products' -->
<!-- <app-product [product]="product" *ngFor="let product of products"></app-product> -->
<!-- src/app/app.component.html -->



<tui-root>
<router-outlet></router-outlet>
</tui-root>