.empresa-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input.form-control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button.btn {
  grid-column: span 2; /* Ocupa las dos columnas */
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button.btn:hover:not(:disabled) {
  background-color: #45a049;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .empresa-container {
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
  }

  button.btn {
    grid-column: span 1; /* Botón ocupa toda la fila */
  }
}


/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  color: #333;
}

table td {
  vertical-align: middle;
}

table img {
  display: block;
  max-width: 100px;
  height: auto;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  table {
      display: block;
      overflow-x: auto; /* Permite el scroll horizontal si es necesario */
      white-space: nowrap;
  }
  
  table th,
  table td {
      padding: 8px;
  }

  table img {
      max-width: 80px; /* Tamaño del logo más pequeño para móviles */
      height: auto;
  }

  /* Ajuste adicional para los botones en móviles */
  table button {
      padding: 8px;
      font-size: 14px;
  }
}
