<div *ngIf="!mostrarFormulario" class="perfil-container">
  <!-- Mostrar Logo -->
  <div class="logo-container">
    <img [src]="empresaData?.logo" alt="Logo de la Empresa" width="150" height="150" *ngIf="empresaData?.logo; else noLogo" />
    <ng-template #noLogo>No disponible</ng-template>
  </div>

  <!-- Mostrar datos de la empresa -->
  <div class="datos-empresa">
    <h2 class="nombreempore">{{ empresaData?.nombre ||"..." || "Nombre de la Empresa" }}   <i class="pi pi-verified"></i></h2>
    <p><strong>Slogan:</strong> {{ empresaData?.slogan ||"..." || "Slogan no disponible" }}</p>
    <h3>Redes sociales</h3>
    <p><strong>Facebook:</strong> {{ empresaData?.redesSociales?.facebook ||"..." || "No disponible" }}</p>
    <p><strong>Instagram:</strong> {{ empresaData?.redesSociales?.instagram ||"..." || "No disponible" }}</p>
    <h3>Contacto</h3>
    <p><strong>Correo Electrónico:</strong> {{ empresaData?.contacto?.correoElectronico ||"..." || "No disponible" }}</p>
    <p><strong>Teléfono:</strong> {{ empresaData?.contacto?.telefono ||"..." || "No disponible" }}</p>
    <p><strong>Dirección:</strong> {{ empresaData?.contacto?.direccion || "..." ||"No disponible" }}</p>
  </div>

  <!-- Botón para modificar -->
  <button (click)="cargarDatosEmpresa(empresaData!)" class="button">Actualizar datos</button>
</div>

<!-- Formulario de modificación -->
<form [formGroup]="empresaForm" (ngSubmit)="onSubmit()" class="empresa-container" *ngIf="mostrarFormulario">
  <!-- Columna 1 -->
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre" required class="form-control" />
  </div>

  <div class="form-group">
    <label for="slogan">Slogan:</label>
    <input id="slogan" formControlName="slogan" class="form-control" />
  </div>


  <div formGroupName="redesSociales" class="form-group">
    <label for="facebook">Facebook  <i class="pi pi-facebook"></i></label>
    <input id="facebook" formControlName="facebook" class="form-control" />
  </div>

  <div formGroupName="redesSociales"  class="form-group">
    <label for="instagram">Instagram  <i class="pi pi-instagram"></i></label>
    <input id="instagram" formControlName="instagram" class="form-control" />
  </div>

  <div formGroupName="contacto" class="form-group">
    <label for="direccion">Dirección  <i class="pi pi-directions"></i></label>
    <input id="direccion" formControlName="direccion" class="form-control" />
  </div>

  <div formGroupName="contacto" class="form-group">
    <label for="correoElectronico">Correo Electrónico  <i class="pi pi-envelope"></i></label>
    <input id="correoElectronico" type="email" formControlName="correoElectronico" required class="form-control" />
  </div>

  <div formGroupName="contacto" class="form-group">
    <label for="telefono">Teléfono  <i class="pi pi-phone"></i></label>
    <input id="telefono" formControlName="telefono" class="form-control" />
  </div>

  <!-- Logo -->
  <div class="form-group">
    <label for="logo">Logo  <i class="pi pi-image"></i></label>
    <input id="logo" type="file" (change)="onLogoSelected($event)" class="form-control" />
  </div>

  <button type="submit" [disabled]="empresaForm.invalid" class="button">Actualizar Perfil</button>
  <button type="button" (click)="cancelarEdicion()" class="button button-cancelar">Cancelar</button>
</form>

