<p-toast></p-toast>

<!-- Spinner de carga centrado -->
<div class="loading-container" *ngIf="loading">
  <mat-spinner diameter="60" color="primary"></mat-spinner>
  <p>Cargando...</p>
</div>


<div class="login-container" *ngIf="!loading">
  <h2 class="login-title">Iniciar Sesión</h2>
  <!-- Formulario normal -->
  <form *ngIf="!showMFAField" (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm" class="p-fluid">

    <!-- Email -->
    <div class="form-group-float">
      <p-floatLabel>
        <input
          pInputText
          type="email"
          id="email"
          name="email"
          ngModel
          required
          autocomplete="email"
        />
        <label for="email">Correo Electrónico</label>
      </p-floatLabel>
    </div>

<!-- Contraseña con float label y toggle automático -->
<div class="form-group-float">
  <p-floatLabel>
    <p-password 
      id="password"
      name="password"
      [(ngModel)]="password"
      [toggleMask]="true"
      inputStyleClass="w-full"
      [feedback]="false">
    </p-password>
    <label for="password">Contraseña</label>
  </p-floatLabel>
</div>



    <!-- Link de recuperación -->
<div class="recovery-link">
  <a routerLink="/recuperacion">¿Has olvidado tu contraseña?</a>
</div>


    <!-- reCAPTCHA -->
    <div class="form-group-float">
      <re-captcha
        (resolved)="resolvedCaptcha = $event"
        siteKey="6LeiqGsqAAAAAFEkWuwr-iNYSb3OwsPNUWQSmy7X">
      </re-captcha>
    </div>

    <!-- Botón -->
    <button
      pButton
      type="submit"
      label="Iniciar Sesión"
      class="p-button-primary w-full"
      [disabled]="!loginForm.valid || !resolvedCaptcha">
    </button>

    <!-- Registro -->
  <div class="register-text">
  ¿No tienes cuenta? <a routerLink="/registro">Regístrate aquí</a>
</div>

  </form>

  <!-- Formulario MFA -->
  <form *ngIf="showMFAField" (ngSubmit)="onVerifyMFA()" class="p-fluid">
    <div class="form-group-float">
      <p-floatLabel>
        <input
          pInputText
          type="text"
          id="mfaToken"
          name="mfaToken"
          [(ngModel)]="mfaToken"
          required
        />
        <label for="mfaToken">Código MFA</label>
      </p-floatLabel>
    </div>

    <button 
      pButton 
      type="submit" 
      label="Verificar MFA" 
      class="p-button-success w-full">
    </button>
  </form>
</div>
