<h1>Catálogo de Productos</h1>
<div class="productos-container">
  <div class="productos-grid">
    <div class="producto-card">
      <img src="../../assets/img/rosario.jpg" alt="Producto 1" class="producto-imagen" />
      <h2 class="producto-nombre">Gafas de Sol De Metal avanzado</h2>
      <p class="producto-vendidos">1,000+ vendidos</p>
      <p class="producto-precio">
        <span class="precio-descuento">MX$46.43</span>
        <span class="precio-original">MX$56.81</span>
        <span class="descuento">-18%</span>
      </p>
      <p  routerLink="/detalle" class="boton-comprar">ver mas</p>
      <p class="envio">Envío gratis</p>
      <button class="boton-comprar">Agregar al carrito <i class="pi pi-shopping-cart"></i></button>
    </div>
  </div>
  <div class="productos-grid">
    <div class="producto-card">
      <img src="../../assets/img/rosario.jpg" alt="Producto 1" class="producto-imagen" />
      <h2 class="producto-nombre">Gafas de Sol De Metal avanzado</h2>
      <p class="producto-vendidos">1,000+ vendidos</p>
      <p class="producto-precio">
        <span class="precio-descuento">MX$46.43</span>
        <span class="precio-original">MX$56.81</span>
        <span class="descuento">-18%</span>
      </p>
      <p  routerLink="/detalle" class="boton-comprar">ver mas</p>
      <p class="envio">Envío gratis</p>
      <button class="boton-comprar">Agregar al carrito <i class="pi pi-shopping-cart"></i></button>
    </div>
  </div>
  <div class="productos-grid">
    <div class="producto-card">
      <img src="../../assets/img/rosario.jpg" alt="Producto 1" class="producto-imagen" />
      <h2 class="producto-nombre">Gafas de Sol De Metal avanzado</h2>
      <p class="producto-vendidos">1,000+ vendidos</p>
      <p class="producto-precio">
        <span class="precio-descuento">MX$46.43</span>
        <span class="precio-original">MX$56.81</span>
        <span class="descuento">-18%</span>
      </p>
      <p  routerLink="/detalle" class="boton-comprar">ver mas</p>
      <p class="envio">Envío gratis</p>
      <button class="boton-comprar">Agregar al carrito <i class="pi pi-shopping-cart"></i></button>
    </div>
  </div>
  <div class="productos-grid">
    <div class="producto-card">
      <img src="../../assets/img/rosario.jpg" alt="Producto 1" class="producto-imagen" />
      <h2 class="producto-nombre">Gafas de Sol De Metal avanzado</h2>
      <p class="producto-vendidos">1,000+ vendidos</p>
      <p class="producto-precio">
        <span class="precio-descuento">MX$46.43</span>
        <span class="precio-original">MX$56.81</span>
        <span class="descuento">-18%</span>
      </p>
      <p  routerLink="/detalle" class="boton-comprar">ver mas</p>
      <p class="envio">Envío gratis</p>
      <button class="boton-comprar">Agregar al carrito <i class="pi pi-shopping-cart"></i></button>
    </div>
  </div>
    <div class="productos-grid">
    <div class="producto-card">
      <img src="../../assets/img/rosario.jpg" alt="Producto 1" class="producto-imagen" />
      <h2 class="producto-nombre">Gafas de Sol De Metal avanzado</h2>
      <p class="producto-vendidos">1,000+ vendidos</p>
      <p class="producto-precio">
        <span class="precio-descuento">MX$46.43</span>
        <span class="precio-original">MX$56.81</span>
        <span class="descuento">-18%</span>
      </p>
      <p  routerLink="/detalle" class="boton-comprar">ver mas</p>
      <p class="envio">Envío gratis</p>
      <button class="boton-comprar">Agregar al carrito <i class="pi pi-shopping-cart"></i></button>
    </div>
  </div>
  <div class="productos-grid">
    <div class="producto-card">
      <img src="../../assets/img/rosario.jpg" alt="Producto 1" class="producto-imagen" />
      <h2 class="producto-nombre">Gafas de Sol De Metal avanzado</h2>
      <p class="producto-vendidos">1,000+ vendidos</p>
      <p class="producto-precio">
        <span class="precio-descuento">MX$46.43</span>
        <span class="precio-original">MX$56.81</span>
        <span class="descuento">-18%</span>
      </p>
      <p  routerLink="/detalle" class="boton-comprar">ver mas</p>
      <p class="envio">Envío gratis</p>
      <button class="boton-comprar">Agregar al carrito <i class="pi pi-shopping-cart"></i></button>
    </div>
  </div>
  <div class="productos-grid">
    <div class="producto-card">
      <img src="../../assets/img/rosario.jpg" alt="Producto 1" class="producto-imagen" />
      <h2 class="producto-nombre">Gafas de Sol De Metal avanzado</h2>
      <p class="producto-vendidos">1,000+ vendidos</p>
      <p class="producto-precio">
        <span class="precio-descuento">MX$46.43</span>
        <span class="precio-original">MX$56.81</span>
        <span class="descuento">-18%</span>
      </p>
      <p  routerLink="/detalle" class="boton-comprar">ver mas</p>
      <p class="envio">Envío gratis</p>
      <button class="boton-comprar">Agregar al carrito <i class="pi pi-shopping-cart"></i></button>
    </div>
  </div>
  <div class="productos-grid">
    <div class="producto-card">
      <img src="../../assets/img/rosario.jpg" alt="Producto 1" class="producto-imagen" />
      <h2 class="producto-nombre">Gafas de Sol De Metal avanzado</h2>
      <p class="producto-vendidos">1,000+ vendidos</p>
      <p class="producto-precio">
        <span class="precio-descuento">MX$46.43</span>
        <span class="precio-original">MX$56.81</span>
        <span class="descuento">-18%</span>
      </p>
      <p  routerLink="/detalle" class="boton-comprar">ver mas</p>
      <p class="envio">Envío gratis</p>
      <button class="boton-comprar">Agregar al carrito <i class="pi pi-shopping-cart"></i></button>
    </div>
  </div>
  <div class="productos-grid">
    <div class="producto-card">
      <img src="../../assets/img/rosario.jpg" alt="Producto 1" class="producto-imagen" />
      <h2 class="producto-nombre">Gafas de Sol De Metal avanzado</h2>
      <p class="producto-vendidos">1,000+ vendidos</p>
      <p class="producto-precio">
        <span class="precio-descuento">MX$46.43</span>
        <span class="precio-original">MX$56.81</span>
        <span class="descuento">-18%</span>
      </p>
      <p  routerLink="/detalle" class="boton-comprar">ver mas</p>
      <p class="envio">Envío gratis</p>
      <button class="boton-comprar">Agregar al carrito <i class="pi pi-shopping-cart"></i></button>
    </div>
  </div>
    <div class="productos-grid">
    <div class="producto-card">
      <img src="../../assets/img/rosario.jpg" alt="Producto 1" class="producto-imagen" />
      <h2 class="producto-nombre">Gafas de Sol De Metal avanzado</h2>
      <p class="producto-vendidos">1,000+ vendidos</p>
      <p class="producto-precio">
        <span class="precio-descuento">MX$46.43</span>
        <span class="precio-original">MX$56.81</span>
        <span class="descuento">-18%</span>
      </p>
      <p  routerLink="/detalle" class="boton-comprar">ver mas</p>
      <p class="envio">Envío gratis</p>
      <button class="boton-comprar">Agregar al carrito <i class="pi pi-shopping-cart"></i></button>
    </div>
  </div>
</div>
