* {
  box-sizing: border-box; /* Asegura que padding y bordes no causen desbordamiento */
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #FF6347;
  --secondary-color: #FFF8DC;
  --highlight-color: #4682B4;
  --button-color: #FF4500;
  --button-hover: #D84F2E;
  --text-color: #333333;
  --card-bg: #FFF;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --active-button-color: #D84F2E;
  --button-text-color: #FFF;
}

.productos-container {
  display: flex;
  justify-content: space-between; /* Distribuye los contenidos a lo largo del eje principal (horizontalmente) */
  align-items: flex-start; /* Alinea los contenidos en la parte superior */
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 12px;
  box-shadow: 0 6px 12px var(--shadow-color);
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}


h2 {
  color: var(--primary-color);
  text-transform:uppercase;
}

.categories-container {
  flex: 1; /* Hace que ocupe el espacio restante */
  padding-right: 20px; /* Espacio entre categorías y productos */
}

.categories {
  display: flex;
  flex-direction: column; /* Acomoda las categorías en columna */
  gap: 0px; /* Espacio entre botones */
 align-items: start;
}

.categories button {
  padding: 14px 28px;
  font-size: 1.2rem;
  color: var(--button-text-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.categories button:hover {
  background-color: var(--button-hover);
  transform: scale(1.05);
}

.categories button.active {
  background-color: var(--active-button-color);
}

/* Asegura que las tarjetas se muestren correctamente */
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 productos por fila */
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
  padding: 0 20px;
  width: 100%;
}

/* Para pantallas medianas (tabletas) */
@media (max-width: 1199px) and (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  .product-list {
    grid-template-columns: repeat(2, 1fr); /* 2 productos por fila */
  }

  .categories button {
    padding: 12px 24px;
    font-size: 1rem;
  }
}


/* Para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  h2 {
    font-size: 1.5rem;
  }
  .productos-container {
    flex-direction:column; /* Acomoda los elementos en columna en pantallas pequeñas */
  }
  .categories-container {
    padding-right: 0; /* Quita el espacio entre categorías y productos en pantallas pequeñas */
  }
  .product-list {
    grid-template-columns: 1fr; /* 1 producto por fila */
    padding: 0 10px;
  }

  .categories button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}

.product-card {
  background-color: var(--card-bg);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 6px 12px var(--shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 300px;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px var(--shadow-color);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product-card h3 {
  font-size: 1.4rem;
  color: var(--highlight-color);
  margin-bottom: 10px;
  font-weight: bold;
}

.product-card p {
  font-size: 1.1rem;
  color: var(--text-color);
  font-weight: 500;
}
