<div class="productos-container">

  <div class="categories-container">
    <h2>Categorias</h2>
  <!-- Categorías -->
    <div class="categories">
      <button>Libros</button>
      <button>Biblia</button>
      <button>Litúrgico</button>
      <button>Imágenes de culto</button>
      <button>Cuadros</button>
      <button>Estampas</button>
      <button>Accesorios</button>
      <button>Catecismos</button>
      <button>Recina</button>
      <button>Velas, Cirios</button>
    </div>
  </div>
  <div class="products-container">
  <!-- Lista de productos para la categoría "Estatuas" -->
  <div class="product-list">
      <div class="product-card">
          <img routerLink="/detalle" id="product-image" src="../../assets/img/rosario.jpg" alt="Estatua de la Virgen" />
          <h3>Estatua de la Virgen María</h3>
          <p>Precio: $49</p>
      </div>
      <div class="product-card">
          <img src="../../assets/img/Libreria_Logo.jpg" alt="Estatua de San José" />
          <h3>Estatua de San José</h3>
          <p>Precio: $59</p>
      </div>
      <div class="product-card">
          <img src="../../assets/img/imagen1.jpeg" alt="Estatua de la Virgen" />
          <h3>Estatua de la Virgen</h3>
          <p>Precio: $69</p>
      </div>
      <div class="product-card">
          <img src="../../assets/img/cadena.jpg" alt="Estatua de San Judas Tadeo" />
          <h3>Estatua de San Judas Tadeo</h3>
          <p>Precio: $79</p>
      </div>
  </div>

  <!-- Lista de productos para la categoría "Biblias" -->
  <div class="product-list">
      <div class="product-card">
          <img src="../../assets/img/rosario.jpg" alt="Biblia de estudio" />
          <h3>Biblia de Estudio</h3>
          <p>Precio: $29</p>
      </div>
      <div class="product-card">
          <img src="../../assets/img/Libreria_Logo.jpg" alt="Biblia con encuadernación de cuero" />
          <h3>Biblia con Encuadernación de Cuero</h3>
          <p>Precio: $99</p>
      </div>
      <div class="product-card">
          <img src="../../assets/img/cadena.jpg" alt="Biblia de regalo" />
          <h3>Biblia de Regalo</h3>
          <p>Precio: $45</p>
      </div>
      <div class="product-card">
          <img src="../../assets/img/escanear.jpg" alt="Biblia de estudio" />
          <h3>Biblia de Estudio</h3>
          <p>Precio: $60</p>
      </div>
  </div>

  <!-- Lista de productos para la categoría "Estatuas" -->
  <div class="product-list">
    <div class="product-card">
        <img src="../../assets/img/rosario.jpg" alt="Estatua de la Virgen" />
        <h3>Estatua de la Virgen María</h3>
        <p>Precio: $49</p>
    </div>
    <div class="product-card">
        <img src="../../assets/img/Libreria_Logo.jpg" alt="Estatua de San José" />
        <h3>Estatua de San José</h3>
        <p>Precio: $59</p>
    </div>
    <div class="product-card">
        <img src="../../assets/img/imagen1.jpeg" alt="Estatua de la Virgen" />
        <h3>Estatua de la Virgen</h3>
        <p>Precio: $69</p>
    </div>
    <div class="product-card">
        <img src="../../assets/img/cadena.jpg" alt="Estatua de San Judas Tadeo" />
        <h3>Estatua de San Judas Tadeo</h3>
        <p>Precio: $79</p>
    </div>
</div>

</div>
</div>
