<link rel="stylesheet" href="https://unpkg.com/primeicons/primeicons.css">

<header>
  <div class="main-header" id="mainHeader">
    <div class="header-container">
      <!-- Menú de navegación centrado -->
      <nav class="nav-links">
        <ul>
          <li><a routerLink="/incidencias" (click)="closeMenu()">INCIDENCIAS</a></li>
          <li><a routerLink="/politicas" (click)="closeMenu()">POLITICAS</a></li>
          <li><a routerLink="/terminos" (click)="closeMenu()">TERMINOS</a></li>
          <li><a routerLink="/deslinde" (click)="closeMenu()">DESLINDE LEGAL</a></li>
          <li><a routerLink="/pempresa" (click)="closeMenu()">PERFIL EMPRESA</a></li>
          <li><a routerLink="/buscar" (click)="closeMenu()"><i class="fas fa-search"></i></a></li>
          <a routerLink="/perfil" class="cerrar"><i class="pi pi-user"></i></a>
          <span class="cerrar" (click)="onLogout()"><i class="pi pi-sign-out"></i></span>
        </ul>
      </nav>
      <!-- Botón del menú en dispositivos móviles -->
      <i class="pi pi-bars menu-icon" (click)="toggleMenu()"></i>
    </div>
  </div>

  <!-- Menú desplegable para móvil -->
  <div *ngIf="isMenuOpen" id="mobile-menu" class="mobile-menu">
    <ul>
      <li><a routerLink="/incidencias" (click)="closeMenu()">INCIDENCIAS</a></li>
      <li><a routerLink="/politicas" (click)="closeMenu()">POLITICAS</a></li>
      <li><a routerLink="/terminos" (click)="closeMenu()">TERMINOS</a></li>
      <li><a routerLink="/deslinde" (click)="closeMenu()">DESLINDE LEGAL</a></li>
      <li><a routerLink="/pempresa" (click)="closeMenu()">PERFIL EMPRESA</a></li>
      <li><a routerLink="/buscar" (click)="closeMenu()"><i class="fas fa-search"></i></a></li>
      <a routerLink="/perfil" class="mobile-cerrar" (click)="closeMenu()"><i class="pi pi-user"></i></a>
      <span class="mobile-cerrar1" (click)="onLogout()" (click)="closeMenu()"><i class="pi pi-sign-out"></i></span>
    </ul>
  </div>
</header>

