
/* Header Styling */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #660000;
  border-bottom: 1px solid #ccc;
}
.cerrar{
  color:white;

}


/* Left Links */
.nav-links {
  margin-top: 15px;
  flex: 1;
  display: flex;
}

.nav-links ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

/* Right Icons */
.logout-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout-container a, .logout-container span {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration: none;
}

/* Menu Icon (hidden by default) */
.menu-icon {
  display: none;
  font-size: 24px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-right: 300px;
}

/* Slogan Styling */
.contenedor-slogan {
  margin-top: 20px;
  background-color: #CCB63E;
  width: 100%;
  overflow: hidden;
}

/* Mobile Menu */
.mobile-menu {
  background-color: #660000;
  width: 100%;
}

.mobile-menu ul {
  list-style: none;
  padding: 10px;
}

.mobile-menu li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 18px;
}

.mobile-menu li a:hover {
  cursor: pointer;
  background-color: #ffd900;
}
.mobile-cerrar{
  color: white;
  margin-left: 280px;
  
}
.mobile-cerrar1{
  color: white;
  margin-left: 20px;
  
}


/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Ocultar enlaces de texto en móviles */
  }

  .logout-container {
    display: none; /* Ocultar botones de cerrar sesión en móviles */
  }

  .menu-icon {
    display: block; /* Mostrar ícono de menú en móviles */
  }

  .mobile-menu {
    display: block; /* Mostrar menú móvil */
  }

}

