  <header>
    <!-- Parte superior de información -->
    <div class="info-bar" id="infoBar">
      <div class="info-container">
        <div class="contact-info">
          <span><i class="fas fa-phone"></i> 55 5208 3200</span>
          <span><i class="fas fa-envelope"></i> info</span>
          <span class="cerrar"(click)="onLogout()" >Cerrar sesión</span>
  
        </div>
        <div class="social-links">
          <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
          <a href="https://rss.com" target="_blank"><i class="fas fa-rss"></i></a>
        </div>
      </div>
    </div>
  
    <!-- Parte inferior con logo y menú -->
    <div class="main-header" id="mainHeader">
      <div class="header-container">
        <!-- Botón de menú para pantallas pequeñas -->
        <button class="menu-toggle" (click)="toggleMenu()">
          <div class="hamburger-icon">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
  
        <nav [class.active]="menuActive">
          <ul class="menu">
            <li><a routerLink="/incidencias" (click)="closeMenu()">INCIDENCIAS</a></li>
            <li><a routerLink="/politicas" (click)="closeMenu()">POLITICAS</a></li>
            <li><a routerLink="/terminos" (click)="closeMenu()">TERMINOS</a></li>
            <li><a routerLink="/deslinde" (click)="closeMenu()">DESLINDE LEGAL</a></li>
            <li><a routerLink="/pempresa" (click)="closeMenu()">PERFIL EMPRESA</a></li>
            <li><a routerLink="/buscar" (click)="closeMenu()"><i class="fas fa-search"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  