<header>
    <!-- Parte superior de información -->
    <div class="info-bar" id="infoBar">
      <div class="info-container">
        <div class="contact-info">
          <span><i class="fas fa-phone"></i> 55 5208 3200</span>
          <span><i class="fas fa-envelope"></i> admi</span>
          <span class="cerrar"(click)="onLogout()" >Cerrar sesión</span>

        </div>
      </div>
    </div>
  
    <!-- Parte inferior con logo y menú -->
    <div class="main-header" id="mainHeader">
      <div class="header-container">
        <nav>
          <ul class="menu">
            <li><a routerLink="/admin/dashboard">DASHBOARD</a></li>
            <li><a routerLink="/admin/usuarios">USUARIOS</a></li>
            <li><a routerLink="/admin/parroquias">PARROQUIAS</a></li>
            <li><a routerLink="/admin/documentos">DOCUMENTOS</a></li>
            <li><a routerLink="/admin/tramites">TRÁMITES</a></li>
            <li><a routerLink="/admin/pastoral">PASTORAL</a></li>
            <li><a routerLink="/buscar"><i class="fas fa-search"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  