.inicio-container {
    text-align: center;
    margin: 120px auto;
    max-width: 1300px;
    padding: 20px;
    border-radius: 10px;
  }
  
  h1 {
    color: #5d4037;
    margin-bottom: 20px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 20px; /* Espacio entre las tarjetas */
  }
  
  .product-item {
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
  }
  
  .product-item:hover {
    transform: scale(1.05);
  }
  
  .product-image {
    max-width: 150px;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  h2 {
    font-size: 1.5em;
    color: #3e2723;
  }
  
  p {
    font-size: 1.1em;
    margin: 10px 0;
  }
  
  .price {
    font-size: 1.3em;
    color: #2e7d32;
    margin-bottom: 10px;
  }
  
  .buy-button {
    background-color: #5d4037;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .buy-button:hover {
    background-color: #3e2723;
  }
  .dark-theme .product-item {
    background-color: #1e1e1e; /* Fondo oscuro para los productos */
    border: 1px solid #444; /* Borde gris oscuro */
  }
  
   
  .dark-theme h1 {
    color: #ffffff; /* Color claro para subtítulos */
  }
  .dark-theme h2 {
    color: #e0e0e0; /* Color claro para subtítulos */
  }
  
  .dark-theme p {
    color: #b0bec5; /* Color claro para párrafos */
  }
  
  .dark-theme .price {
    color: #a5d6a7; /* Color claro para precios */
  }
  
  .dark-theme .buy-button {
    background-color: #795548; /* Fondo oscuro para el botón */
    color: #fff; /* Color de texto del botón */
  }
  
  .dark-theme .buy-button:hover {
    background-color: #4e342e; /* Fondo más oscuro en hover */
  }


  /* Para pantallas medianas, mostrar dos productos por fila */
  @media screen and (max-width: 768px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
    }
  }
  
  /* Para pantallas pequeñas, mostrar un producto por fila */
  @media screen and (max-width: 480px) {
    .product-grid {
      grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
  }
  